.page-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: $serif;
    padding: 0.5em;
    @include box_shadow($darkblue);
}

.page-title-icon {
    width: .9em;
    width: .9em;
}

.article-page {
    .page-title {
        font-size: 1.3em;
        .page-title-icon {
            width: .7em;
            width: .7em;
        }
    }
}

.teaser {
    padding: 1em;
    border-bottom: 2px solid $blue;
    @include clearfix;
    @include box_shadow($blue);
}

.teaser-title {
    a {
        color: $darkblue;
    }
}

.article-date {
    margin-left: 1em;
    color: darken($gray, 20%);
    font-style: oblique;
}

.article-tags {
    margin-top: 2em;
    a {
        color: $lightblue;
        background: $blue;
        padding: .3em .4em;
        display: inline-block;
        color: yellow;
        margin-right: .5em;
        margin-bottom: .5em;
    }
}

.read-more {
    @include clearfix;
    margin: 2em 0 1em 0;
    a {
        background-color: $darkblue;
        color: $white;
        padding: .5em .5em;
    }
}

.sidebar {
    padding: $inner-padding $inner-padding/2;
}

.site-footer {
    padding: $inner-padding $inner-padding/2;
    background-color: $darkblue;
    color: $white;
    width: 100%;
    clear: both;
    @include clearfix; 
}

.pagination {
    padding: $inner-padding $inner-padding/2;
    text-align: center;
    background-color: $blue;
    margin: $outer-margin 0;
    color: $white;
    a {
        color: white;
        padding: .5em;
    }
    .item {
        display: inline-block;
        margin: .5em 0;
    }

    .current {
        padding: .5em;
    }
    .current, 
    a:hover {
        background-color: $darkblue;
    }
    
    .first, .last {
        display: block;
    }

}