.page-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: $serif;
    padding: 0.5em;
    @include box_shadow($darkblue);
}

.page-title-icon {
    width: .7em;
    width: .7em;
}

.teaser {
    padding: 1em;
    border-bottom: 2px solid $blue;
    @include box_shadow($blue);
}

.teaser-title {
    a {
        color: $darkblue;
    }
}

.article-date {
    margin-left: 1em;
    color: darken($gray, 20%);
    font-style: oblique;
}

.article-tags {
    a {
        color: $lightblue;
    }
}