$serif : 'Noto Serif', serif;
$sans : 'Noto Sans', sans-serif;

$white: #f0f5f9;
$gray: #9baec8;
$lightblue: #2b90d9;

$outer-padding: 2em;
$outer-margin: 2em;

$inner-padding: 1em;
$inner-margin: 1em;

$bg-color: #d9e1e8;
$text-color: #282c37;

$header-bg: $lightblue;