$serif : 'Noto Serif', serif;
$sans : 'Noto Sans', sans-serif;

$white: #f0f5f9;
$gray: #9baec8;
$black: #282c37;
$lightblue: #2b90d9;
$blue: darken($lightblue, 15%); 
$darkblue: darken($lightblue, 30%); 

$outer-padding: 2em;
$outer-margin: 2em;

$inner-padding: 1em;
$inner-margin: 1em;

$bg-color: #d9e1e8;
$text-color: $black;

$header-bg: $lightblue;

@mixin box_shadow($color) {
  -webkit-box-shadow: 0 15px 2px -10px $color;
          box-shadow: 0 15px 2px -10px $color;
}

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @if $point == medium_up {
    @media (max-width: 50em) { @content; }
  }
  @if $point == small_up {
    @media (max-width: 350px) { @content; }
  }
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}